In [755]:
import pandas as pd
import numpy as np
import os
import sys

In [756]:
df = pd.read_csv("notes_before.csv", index_col=0)
df.head()

          brand     name                note category
0  acquadiparma  colonia               lemon      top
1  acquadiparma  colonia        sweet orange      top
2  acquadiparma  colonia  calabrian bergamot      top
3  acquadiparma  colonia            lavender      mid
4  acquadiparma  colonia      bulgarian rose      mid

In [757]:
fnotes = pd.read_csv("no.csv", index_col=0)
fnotes.head()

                   no            yes
0        sweet orange         orange
1  calabrian bergamot       bergamot
2      bulgarian rose           rose
3             verbena  lemon verbena
4            lavander       lavender

In [758]:
a = fnotes[fnotes["no"] == "sweet orange"]["yes"]
print(a.values)

['orange']

In [759]:
def converge(no):
    try:
        yes = fnotes[fnotes["no"] == no]["yes"].values[0]
    except:
         yes = no
    return yes

In [760]:
df["note"] = df["note"].apply(lambda x: converge(x))

In [761]:
df.head()

          brand     name      note category
0  acquadiparma  colonia     lemon      top
1  acquadiparma  colonia    orange      top
2  acquadiparma  colonia  bergamot      top
3  acquadiparma  colonia  lavender      mid
4  acquadiparma  colonia      rose      mid

In [762]:
df["time"] = df["category"]
df.drop(["category"],axis=1, inplace=True)

In [763]:
df.to_csv("converged.csv")

In [764]:
cat = pd.read_csv("notes-category.csv")
cat.drop("kor", axis=1, inplace=True)
cat["eng"] = cat["eng"].str.lower().str.strip()
cat.head()

             eng category
0       bergamot   citrus
1  bitter orange   citrus
2   blood orange   citrus
3      calamansi   citrus
4       chinotto   citrus

In [765]:
def category_(name):
    # print(name, end=", ")
    # print(cat["eng"]==name)
    try:
        category = cat[cat["eng"] == name]["category"].values[0]
    except:
        category = ""
        print(name)
    # print(category)
    return category

In [766]:
df["category"] = df["note"]

In [767]:
df["category"]

0              lemon
1             orange
2           bergamot
3           lavender
4               rose
            ...
1593         benzoin
1594    floral notes
1595         jasmine
1596      sandalwood
1597         benzoin
Name: category, Length: 1590, dtype: object

In [768]:
df.head()

          brand     name      note time  category
0  acquadiparma  colonia     lemon  top     lemon
1  acquadiparma  colonia    orange  top    orange
2  acquadiparma  colonia  bergamot  top  bergamot
3  acquadiparma  colonia  lavender  mid  lavender
4  acquadiparma  colonia      rose  mid      rose

In [769]:
df["category"] = df["category"].apply(lambda x: category_(x))

In [770]:
df.head()

          brand     name      note time category
0  acquadiparma  colonia     lemon  top   citrus
1  acquadiparma  colonia    orange  top   citrus
2  acquadiparma  colonia  bergamot  top   citrus
3  acquadiparma  colonia  lavender  mid   floral
4  acquadiparma  colonia      rose  mid   floral

In [771]:
df.to_csv("converged.csv")

In [772]:
df.head()

          brand     name      note time category
0  acquadiparma  colonia     lemon  top   citrus
1  acquadiparma  colonia    orange  top   citrus
2  acquadiparma  colonia  bergamot  top   citrus
3  acquadiparma  colonia  lavender  mid   floral
4  acquadiparma  colonia      rose  mid   floral